@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #00291b; /* Couleur principale */
    --color-secondary: #dc9600; /* Couleur secondaire */
    --color-tertiary: #E5DFC7; /* Couleur tertiaire */
    --color-primary-light: #004d4f; /* Lumière de la couleur principale */
    --color-secondary-light: #f2b700; /* Lumière de la couleur secondaire */
    --color-tertiary-light: #f3e8d9; /* Lumière de la couleur tertiaire */
    --color-olive-dark: #969342; /* Nouvelle couleur ajoutée */
}
